body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, th, td ,img, cite{ margin: 0; padding: 0; color:#333; border:none;}
body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, li, fieldset, legend, button, input, textarea, th, td { font:16px/36px "Hiragino Sans GB","MicroSoft YaHei",Arial,sans-serif; }
html,body { -webkit-tap-highlight-color:rgba(0,0,0,0);}
img { max-width:100%; max-height: 100%; vertical-align: top}
body { position:relative; background:#fff; min-width:1000px;}
article, iframe { display:block; border:0;}
ul, li { list-style:none;}
table { border-collapse:collapse;border-spacing:0; max-width:100%;}
input::focus-inner{ outline:0;padding:0;border:0;}
textarea{resize:none}
input,textarea{outline:0;resize:none}
:focus { outline: none; }
a,area { blr:expression(this.onFocus=this.blur()) }
a { color:#333; text-decoration:none; }
a:hover { color: #e92930; text-decoration:underline;}

::selection {background: #D03333;color: white;text-shadow: none;}
::-webkit-scrollbar-track-piece{width:10px;background-color:#f2f2f2}
::-webkit-scrollbar{width:10px;height:6px}
::-webkit-scrollbar-thumb{height:50px;background-color:rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:hover{background:#707070;}

.warp { width:90%; min-width:1000px; max-width:1500px; margin:0 auto;}
.clear { clear:both;height:0px; width:100%; font-size:1px;line-height:0px; visibility:hidden; overflow:hidden;}
.clearfix:after{ content:" ";display:block; visibility:hidden; height:0;font-size:0; clear:both;}
.clearfix { *zoom:1;}
.hide, .mobshow { display:none;}
.fl { float:left;} .fr { float:right;}

body {-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
a,b,button,div,em,h1,h2,h3,h4,h5,i,input,li,optgroup,p,select,span,textarea{-webkit-tap-highlight-color:transparent}
