*{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,p{font-size:0.12rem;font-weight:400}
b,em,i,strong{font-style:normal;font-weight:400}
dl,ol,ul{margin:0;padding:0}
li{list-style:none}
.fl{float:left}
.fr{float:right}
.clearfix:after{display:block;content:'';clear:both}
.clearfix{zoom:1}
a img{border:0}
a{color:#333;text-decoration:none;cursor:pointer}
img{vertical-align:top}
textarea{resize:none}
input,select,textarea{outline:none}
table{border-collapse:collapse}
td,th{padding:0.2rem;border:1px solid #000;text-align: center}
body{
    font-size: 0.12rem;
}

table{
    margin: 0.5rem auto;
}
.selectAll.active{
    background: #f09;
}
.selectOne.active{
    background: #09f;
}
.add,.min{
    border: 1px solid red;
    padding: 0.1rem 0.2rem;
    cursor: pointer;
}
.selectAll,.selectOne,.deleteOne,.deleteAll{
    cursor: pointer;
}
input{
	width: 0.4rem;
	text-align: center;
	line-height: 0.3rem;
}
.min.active{
	background: #e6e6e5;
}