@charset "utf-8";b,body,button,dd,dl,em,form,h1,h2,h3,h4,h5,h6,i,input,label,li,p,ul{margin:0;padding:0;list-style:none}
body,html{margin:0;padding:0;width:100%;position:relative}
body{background:#f2f2f2;color:#333;font-size:.24rem;font-size-adjust:100%!important;font-family: "Microsoft YaHei"!important;}
a{color:#333;text-decoration:none;cursor:pointer}
a:hover{text-decoration:none}
::selection{background-color:#e4393c;color:#fff}
::-moz-selection{background-color:#e4393c;color:#fff}
input:focus{padding:0;border:0}
input,textarea{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;outline:0;resize:none}
b,em,i{font-style:normal}
body{overflow-x:hidden; }
article,aside,button,footer,header,iframe,img,nav,section{display:block}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:"\20";line-height:0}
.clear{clear:both}
.fl{float:left}
.fr{float:right}

.box01{width:7.5rem;min-height:7.8rem;margin:0 auto}
.banner{height:3rem;}
.banner img{display:block; width:7.5rem; height:3rem;}
.menu_box{height:.8rem; background:#fff; margin-bottom:.18rem; box-shadow:0 0 .1rem rgba(0,0,0,0.1);}
.menu_btn li{ float:left; height:.76rem; margin:0 .32rem; font-size:.3rem; line-height:.76rem;}
.menu_btn li.active,.menu_btn02 li.active{color:#00d1b3; border-bottom:.04rem solid #00d1b3;}
.menu_btn02 li{ float:left; height:.76rem; margin-left:.24rem; font-size:.3rem; line-height:.76rem;}

/*没有图片的资讯*/
.newslist li{padding:.1rem .2rem .2rem; margin-bottom:.18rem; background:#fff;}
.newslist li a{ display:block;}
.newslist li h3{height:.7rem; font-size:.28rem; line-height:.7rem; overflow:hidden; font-weight:normal;text-overflow:ellipsis; white-space:nowrap;}
.newslist li p{ font-size:.24rem; line-height:.38rem; color:#999;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;}
.newslist li time{display:block; font-size:.22rem; line-height:.46rem; color:#999; text-align:right;}

/*有图片的资讯*/
.itemlist li{padding:.24rem .13rem .22rem; margin-bottom:.2rem; background:#fff;}
.itemlist li a{ display:block;}
.itemlist .pic_box{float:left; width:2.9rem; height:2.1rem; margin-right:.18rem;}
.itemlist .pic_box img{display:block; width:2.9rem; height:2.1rem;}
.itemlist .iteminfo{width:4.16rem;
	height: 2.1rem;
display: table-cell;
vertical-align: middle;
}
.iteminfo h3{font-size:.26rem; line-height:.34rem; margin-bottom:.2rem;font-weight:normal; 
	overflow:hidden; 
	display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
 text-overflow: ellipsis;
}
.iteminfo p.des{font-size:.22rem; line-height:.36rem; color:#999;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
 text-overflow: ellipsis;
overflow: hidden;}

/*推荐课程*/
.tjkclist li h3{margin-bottom:.1rem;}
.tjkclist li p{font-size:.24rem; line-height:.34rem; color:#999;
}
.tjkclist li .price{ margin-top:.1rem; line-height:.54rem;}
.tjkclist li .price del{color:#999;}
.tjkclist li .price strong{color:#ff0048; font-size:.32rem; font-weight:normal;}
.tjkclist li .price i{ float:right; display:inline-block; width:1.52rem; height:.54rem; background:#00d1b3; border-radius:.04rem; font-size:.26rem; line-height:.54rem; color:#fff; text-align:center;}



.loadingEnd{background: #fff;text-align: center;line-height: 0.5rem;margin-bottom: 0.2rem;display: none}
.loadingEnd.active{display: block;}